#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black; 
    padding: 1rem 0;
}

.nav-links {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    padding: 0 20px;
}

.nav-links .logo {
    margin-right: auto;
    margin-left: 0;
}

.nav-links a {
    font-size: medium;
    text-decoration: none;
    color: white;
    margin-left: 2rem;
}